@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --primary-color: #171715;
  --secondary-color: #771f04;
  --background-color: #c95735;
  --hover-color: #ef7854;
}

body {
  background-image: url("./img/background.svg");
  font-family: "Press Start 2P", Arial, sans-serif;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 4px solid var(--primary-color);
  background-image: url("./img/grass.svg");
}

h1 {
  margin-bottom: 20px;
}

.start {
  margin-bottom: 40px;
  font-family: inherit;
  padding: 12px 24px;
  border-radius: 0px;
  border-style: none;
  background-color: var(--background-color);
}

.start:hover {
  scale: 1.1;
  background-color: var(--hover-color);
}

.grid div {
  width: 40px;
  height: 40px;
}

.snake {
  background-image: url("./img/snake.svg");
}

.apple {
  background-image: url("./img/apple.svg");
}

.score {
  margin-top: 20px;
}

.numbers {
  color: var(--secondary-color);
}

.game-over {
  margin: 20px;
  color: var(--secondary-color);
}

.icon {
  height: 40px;
  margin: 0px 12px;
}
